.chat-box {
  border-radius: 4px;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
}

.messages-box {
  height: 200px;
  border-radius: 4px; 
  width: 100%;
  background-color: #151515;
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-left: 10px; 
  padding-right: 10px; 
  overflow-y: scroll; 
  overflow-x: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.each-msg-player1 {
  height: auto;
  background-color: #262626;
  color: white; 
  width: auto;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 6px 6px;
  margin-top: 0 auto; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  clear: both; 
  float: left;
  max-width: 100%; 
  
}

.each-msg-player2 {
  height: auto;
  background-color: white;
  color: #262626;
  width: auto;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 6px 6px;
  margin-top: 0 auto; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  clear: both; 
  float: right;
  max-width: 100%; 
  
}

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}


.inner {
  padding: 6px 6px;
  display: inline; 
  max-width: 100%;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
}

.send-msg {
  height: 60px;
  border-radius: 4px; 
  text-align: left;
  padding-bottom: 25px;
}

.button {
  background-color: #c24040;
  border-color: #c24040; 
  color: white; 
  width: 100%;
  padding: 7px 7px;
  border-radius: 4px;
}
 
